{% extends "layout.html" %}

{% block title%}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <h3 class="mb-3">Confirm your current password</h3>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password">
        </div>
        <h3 class="mb-3">Enter your new password</h3>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}
